<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Thesis Project</title> 

</head>  
  
<body>
    <!-- <script type="text/javascript" src="jquery-1.11.3.min.js"></script> -->
  <!-- <script type="text/javascript" src="wickedpicker.js"></script> -->
  <!-- <script type='text/javascript'src='jquery-ui.js'></script> -->

  <!-- <div id="banner"> -->
    <h1>Please enter the following details :</h1>
  <form action="/signup" method="post">
    <!-- <p class="leads">Enter the required data :</p> -->
    <p> Name </p>
    <input type = "text" name = "name" id = "name">    

        <!-- <p> Name </p> -->
    <!-- <input type = "text" name = "name" id = "name">  -->
        <p> Father's Name </p>
    <input type = "text" name = "father" id = "father"> 
        <p> Date of Birth </p>
    <input type = "date" name = "dob" id = "dob"> 

      <p> Address </p>
    <input type = "text" name = "address" id = "address"> 
        <p> Phone Number </p>
    <input type = "text" name = "phone" id = "phone"> 
        <p> Counsellor's Details </p>
    <input type = "text" name = "counsellor" id = "counsellor"> 
            <h1>Please enter the details about the rich count values now :</h1>

                <p> L1 </p>
    RC <input type = "text" name = "l1rc" id = "l1rc"> 
    Pattern <input type = "text" name = "l1p" id = "l1p"> 

 <p> L2 </p>
    RC <input type = "text" name = "l2rc" id = "l2rc"> 
    Pattern <input type = "text" name = "l2p" id = "l2p"> 

 <p> L3 </p>
    RC <input type = "text" name = "l3rc" id = "l3rc"> 
    Pattern <input type = "text" name = "l3p" id = "l3p"> 

 <p> L4 </p>
    RC <input type = "text" name = "l4rc" id = "l4rc"> 
    Pattern <input type = "text" name = "l4p" id = "l4p"> 

 <p> L5 </p>
    RC <input type = "text" name = "l5rc" id = "l5rc"> 
    Pattern <input type = "text" name = "l5p" id = "l5p"> 

 <p> R1 </p>
    RC <input type = "text" name = "r1rc" id = "r1rc"> 
    Pattern <input type = "text" name = "r1p" id = "r1p"> 

 <p> R2 </p>
    RC <input type = "text" name = "r2rc" id = "r2rc"> 
    Pattern <input type = "text" name = "r2p" id = "r2p"> 

 <p> R3 </p>
    RC <input type = "text" name = "r3rc" id = "r3rc"> 
    Pattern <input type = "text" name = "r3p" id = "r3p"> 

 <p> R4 </p>
    RC <input type = "text" name = "r4rc" id = "r4rc"> 
    Pattern <input type = "text" name = "r4p" id = "r4p"> 

 <p> R5 </p>
    RC <input type = "text" name = "r5rc" id = "r5rc"> 
    Pattern <input type = "text" name = "r5p" id = "r5p"> 


    

<!--         <p> L1 </p>
        <input type="file" name="l1" accept="image/*">
        <p> L2 </p>
        <input type="file" name="l2" accept="image/*">
        <p> L3 </p>
        <input type="file" name="l3" accept="image/*">
        <p> L4 </p>
        <input type="file" name="l4" accept="image/*">
        <p> L5 </p>
        <input type="file" name="l5" accept="image/*">
        <p> R1 </p>
        <input type="file" name="r1" accept="image/*">
        <p> R2 </p>
        <input type="file" name="r2" accept="image/*">
        <p> R3 </p>
        <input type="file" name="r3" accept="image/*">
        <p> R4 </p>
        <input type="file" name="r4" accept="image/*">
        <p> R5 </p>
        <input type="file" name="r5" accept="image/*"> -->



        <!-- 
            <CENTER><p> Test </p>
    <input type = "text" name = "dob" id = "dob" align="top"> 
</CENTER> -->
<!--   <div class="form">
    <label>Name</label>
    <input type="text" name="name">

    <label>Email</label>
    <input type="text" name="email">

    <label>Phone</label>
    <input type="text" name="phone">
  </div> -->
  <br><br>
              <input type="submit" value="Generate Report"></input>

    </form>

  <!-- </div> -->

</body>
</html>

